{{ define "main" }}
<div class="login-form" style="text-align:center; border: 1px solid black; padding: 10px; margin-top: 10%; margin-left: auto; margin-right: auto; width: 50%; background-color: #f2f2f2;">
  <h1 style="text-align:center;">Login</h1><form style="text-align:center;">
    <label for="username" style="text-align:center;">Username:</label><br>
    <input type="text" id="username" name="username" required style="height: 30px;"><br>
    <label for="password" style="text-align:center;">Password:</label><br>
    <input type="password" id="password" name="password" required style="height: 30px;"><br>
    <input type="submit" value="Login" style="text-align:center;">
  </form>
</div>

{{ end }}