<link rel='stylesheet' href='/css/sidebarUserPart.css' type='text/css'>

<div id="markdownHeaderPart">
  <h1>文章参数</h1>
  <hr>
<div>
  <h4>H 标题</h4>
  <input type="text" class="inputParams" placeholder="标题">
</div>

<div>
  <h4>摘要</h4>
  <input type="text" class="inputParams" placeholder="缩写">
</div>
<div>
  <h4>发布于</h4>
  <input type="text" class="inputParams" placeholder="发布于">
</div>
<div>
  <h4>更新于</h4>
  <input type="text" class="inputParams" placeholder="更新于">
</div>
<div>
  <h4>标签</h4>
  <input type="text" class="inputParams" placeholder="添加标签">
</div>
<div>
  <h4>分类</h4>
  <input type="text" class="inputParams" placeholder="添加分类">
</div>

<div>
  <button class="my-button" id="cansoleEidt" >取消</button>
  <button class="my-button" id="saveEidt" >保存</button>
  <button class="my-button" id="publicEidt" >发布</button>
</div>

</div>

<!-- 引入 sidebarForm.js  控制sidebar 表单的内容 -->
<script type='text/javascript' src='/js/sidebarForm.js'></script>